stages:
  - check
  - build
  - test
  - release

.rust:
  image: rust:1.87-slim-bullseye
  before_script:
    - apt-get update -y
    - rustup --version && rustc --version && cargo --version && echo $RUSTFLAGS && echo $CARGO_OPTS

check:fmt:
  extends: .rust
  stage: check
  script:
    - rustup component add rustfmt
    - cargo fmt --check

check:clippy:
  extends: .rust
  stage: check
  script:
    - rustup component add clippy
    - >
      cargo clippy
      --color always
      --verbose
      -- -Dwarnings

build:
  extends: .rust
  stage: build
  parallel:
    matrix:
      - PROFILE: ["debug", "release"]
        TARGET:
          - x86_64-unknown-linux-gnu
  script:
    - rustup target add $TARGET
    - >
      [[ $PROFILE == "debug" ]] && 
      export RUSTFLAGS="$RUSTFLAGS -Cinstrument-coverage" && 
      rustup component add llvm-tools || 
      true
    - >
      cargo build
      --verbose
      --color always
      --target $TARGET
      $([[ $PROFILE == 'release' ]] && echo '--release' || echo '')
  artifacts:
    paths:
      - target/$TARGET/$PROFILE/*

test:test:
  extends: .rust
  stage: test
  variables:
    RUSTFLAGS: -Cinstrument-coverage
    LLVM_PROFILE_FILE: target/coverage/%p-%m.profraw
  script:
    - apt-get install libxml2-utils -y
    - rustup component add llvm-tools
    - cargo install grcov
    - >
      cargo test 
      --verbose
      --color always
      --target x86_64-unknown-linux-gnu
      --
      $CARGO_OPTS
    - >
      grcov
      target/coverage
      --binary-path target/x86_64-unknown-linux-gnu/debug
      -s .
      -o target/coverage
      --keep-only 'src/*'
      --output-types html,cobertura
    - >
      xmllint 
      --xpath "concat('Coverage: ', 100 * number(//coverage/@line-rate), '%')" 
      target/coverage/cobertura.xml
  coverage: '/Coverage: \d+(?:\.\d+)?/'
  artifacts:
    paths:
      - target/coverage
    reports:
      coverage_report:
        coverage_format: cobertura
        path: target/coverage/cobertura.xml

test:bench:
  extends: .rust
  stage: test
  script:
    - >
      cargo bench 
      --verbose
      --color always
      -- 
      $CARGO_OPTS
